.button-search {
  padding: 10px 20px;
  border-radius: 2px;
  border: 0;
  background-color: #fff159;
  letter-spacing: 1.5px;
  font-size: 18px;
  transition: all .3s ease;
  box-shadow: #fff159 0px 10px 0px 0px;
  color: black;
  cursor: pointer;
 }
 
 .button-search:hover {
  box-shadow: #fff159 0px 7px 0px 0px;
 }
 
 .button-search:active {
  background-color: #fff159;
  box-shadow:#fff159 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
 }